body{
    display: grid;
    grid-template-areas: 'nav nav nav nav'
                         'vez vez vez vez'
                         'jogo jogo jogo jogo'
                         'footer footer footer footer';
grid-template-columns: 25vw 25vw 25vw 25vw;
grid-template-rows: 20vh 10vh 60vh 10vh;
margin: 0;
}

main{
    grid-area: vez;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

main h3{
  text-align: center;
}

.j1-Xcollor{
    color: red;
    margin: 0%;
    font-size: 30px;
}

.j2-Ocollor{
    color: blue;
    margin: 0%;
    font-size: 30px;
}

nav{
    grid-area: nav;
    align-items: center;
    position: relative;
    text-align: center;
}

section{
    grid-area: jogo;
    width: 100vw;
    height: 60vh;
    flex-direction: row;
    display: flex;
    align-items: center;
    justify-content: center;
}

.velha{
    /* align-items: center; */
    width: 303px;
    height: 300px;
    border:solid 3px;
}
 
.linha{
    height:100px;
    border-bottom:solid 1px;
}
 
.coluna{
    width:100px;
    height:100%;
    border-right:solid 1px;
    float: left;
}
